html {
    max-width: 600px;
    background-color: black;
    padding:20px;
    margin: auto;
}
header {
    border-top: 1px solid red !important;
    padding-bottom: 5px;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(28, 30, 33);
    position: sticky;
    top: 0;
}
nav {

    color: red !important;
    align-self: center;
    
}
ul{
    display:flex;
    flex-direction: row;
    text-align: center !important;
}
li{
    list-style-type: none;
    padding: 20px;
    
}
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 30px;
    text-align: center;
    color: rgb(23, 132, 129);

}
p {
    line-height: 1.4em;
    color: lightblue;

}
table {
    max-width: 600px;
    border-top: 1px dotted red !important;
    margin-left: auto;
    margin-right: auto;

}
#newsletter-input {
    padding-top: 20px;
    color:rgb(110, 191, 191)
}

.contact-info::after {
    content: "\a";
    white-space: pre;
}

#posts {
    font-size: 2em;
    margin:auto;
}
.post-img{
    float:left !important;
    width: 200px !important;
    margin-left: auto;
    min-width: 200px !important;
}

.blog-post {
    border-top: 1px dotted red !important;
    display: flex;
    flex-direction: row;
    flex: 300px;
}
.section-heading {
    font-size: 1.5em;
    font-family: cursive;
};

